<div class="main_bg">
<div class="wrap">
<div class="wrapper">	
	<div class="main">
		<div class="content">
			<a href="/"><h2><%= t('view.kisan_bhai') %></h2></a>
		</div>
		<div class="about-us">
			<div class="about-header">
				<h2 class="style"><%= t('view.about_us') %></h2>
					<div class="clear"> </div>
				</div>
					<div class="about-info">
					<p class="para">
            Now its time for every Kisan Bhai to put their existance in IT field.
            Make there land productive with the help of some advisors who think and care about your valuable land.
            We are trying to make a strong group of all kisan bhai as a family so that they can discuss and tell to each other for any land problems.
            We and our team are willing to hear any land probles from kisan bhai so that our advisors can provide best solution.
            So dont wait for anyone to suggest what should you do and how you can increase your land productivity, Just take help from us and we will always provide you the best answer for your any queries.
            Make your presense here and show yourself as a good farmer for your land.
            See everyday for others kisan that what they get today.
          </p>
					</div>
          <div class="about-header">
            <h2 class="style"><%= t('view.our_team') %></h2>
              <div class="clear"> </div>
            </div>
					<div class="specials">
					<div class="specials-grids">
						<div class="special-grid">
						  <div class="gallery img_style team_photo">
							 <a href="/assets/kapil.jpg"><img src="/assets/kapil.jpg" title="image-name"></a>
						  </div>
							<h3 class="style"><a href="#"><%= t('view.kapil_patidar') %></a></h3>
							<p class="para"></p>
						</div>
            <div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					</div>
		 	<!---End-about---->
		 </div>
	</div>
	<div class="clear"></div>
</div>
</div>

<script type="text/javascript">
  // Initiate Lightbox
  $(function() {
    $('.gallery a').lightbox(); 
  });
</script>
