<div class="main_bg">
<div class="wrap">
<div class="wrapper">	
	<div class="main">
		<div class="content">
			<a href="/"><h2>Kisan Bhai</h2></a>
		</div>
		<div class="about-us">
			<div class="about-header">
				<h2 class="style">About us</h2>
					<div class="clear"> </div>
				</div>
					<div class="about-info">
					<p class="para">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan male</p>
					<div class="read_more1">
            <%= link_to 'Read More', details_path, :class => "btn" %>
          </div>
					</div>
					<div class="specials">
					<div class="specials-grids">
						<div class="special-grid">
						  <div class="gallery img_style">
							 <a href="/assets/pic3.jpg"><img src="/assets/pic3.jpg" title="image-name"></a>
						  </div>
							<h3 class="style"><a href="#">consectetur</a></h3>
							<p class="para">Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="special-grid">
						  <div class="gallery img_style">
							 <a href="/assets/pic1.jpg"><img src="/assets/pic1.jpg" title="image-name"></a>
						  </div>
							<h3 class="style"><a href="#"> volutpat luctus</a></h3>
							<p class="para">Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="special-grid spe-grid">
						  <div class="gallery img_style">
							 <a href="/assets/pic2.jpg"><img src="/assets/pic2.jpg" title="image-name"></a>
						  </div>
							<h3 class="style"><a href="#">Quisque erat</a></h3>
							<p class="para">Lorem ipsum dolor sit amet consectetur adiing elit. In volutpat luctus eros ac placerat. Quisque erat metus facilisis non feu,aliquam hendrerit quam. Donec ut lectus vel dolor adipiscing tincnt.</p>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="clear"> </div>
					</div>
		 	<!---End-about---->
		 </div>
	</div>
	<div class="clear"></div>
</div>
</div>

<script type="text/javascript">
  // Initiate Lightbox
  $(function() {
    $('.gallery a').lightbox(); 
  });
</script>
