<!-- start main -->
<div class="main_bg">
<div class="wrap">
<div class="wrapper">	
	<div class="main">
		<div class="content">
			<a href="/"><h2>Kisan Bhai</h2></a>
		</div>
		<div class="grids_of_3">
				<div class="grid_1_of_3 images_1_of_3">
            <img src="/assets/pic1.jpg">
					  <div class="grids">
					  <h3>Cras tristique elit</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in  College in Virginia,  College in voluptate velit esse cillum dolore.</p>
				     <div class="button"><span><a href="details.html">More</a></span></div>
				     </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="/assets/pic2.jpg">
					   <div class="grids">
					  <h3>rhoncus dui neci</h3>
					  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>
				     <div class="button"><span><a href="details.html">More</a></span></div>
				     </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <img src="/assets/pic3.jpg">
					   <div class="grids">
					  <h3>Nam quis quam non</h3>
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				     <div class="button"><span><a href="details.html">More</a></span></div>
				     </div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="cols_of_3">
				<div class="col_1_of_3 span_1_of_3">
					<h2 class="style">welcome</h2>
					<div class="text_s img_style">
						<img src="/assets/pic4.jpg" alt=""/>
					</div>
					<div class="text_s1">
					<span>There are many variations of passages,by injected humour</span>
					<p class="para top">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
					</div>
					 <div class="read_more">
             <%= link_to 'Read More', details_path, :class => "btn" %>
           </div>		
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h2 class="style">lorem is purus</h2>
					<div class="text_s">
					<span>There are many variations of passages,by injected humour</span>
					<p class="para top">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
					</div>
					<div class="text_s1">
					<span>There are many variations of passages,by injected humour</span>
					<p class="para top"> as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>
					</div>
					 <div class="read_more">
             <%= link_to 'Read More', details_path, :class => "btn" %>
           </div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h2 class="style">latest news</h2>
					<div class="text_s">
					<div class="text_img img_style">
					<a href=""><img src="/assets/art-pic1.jpg" alt=""></a>
					</div>
					<div class="text_para">
						<span>2 days ago</span>
						<p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor,</p>
					</div>
					<div class="clear"></div>
					</div>
					<div class="text_s">
					<div class="text_img img_style">
					<a href=""><img src="/assets/art-pic3.jpg" alt=""></a>
					</div>
					<div class="text_para">
						<span>5 days ago</span>
						<p class="para">There are many variations of passages of Lorem Ipsum but the majority have</p>
					</div>
					<div class="clear"></div>
					</div>
					<div class="text_s">
					<div class="text_img img_style">
					<a href=""><img src="/assets/art-pic2.jpg" alt=""></a>
					</div>
					<div class="text_para">
						<span>3 days ago</span>
						<p class="para">There are many variations of passages of Lorem Ipsum but the majority have</p>
					</div>
					<div class="clear"></div>
					</div>					
				</div>
				<div class="clear"></div>
			</div>
	</div>
	<div class="clear"></div>
</div>
</div>
